.iconGroup {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.actionIcon {
  transition: all 0.3s ease;
  margin-right: -22px;
}

.actionIcon:hover {
  transform: translateY(5px) rotate(5deg);
  z-index: 10;
}

.actionIcon:nth-child(2n):hover {
  transform: translateY(5px) translateX(-3px) rotate(-5deg);
}

.actionIcon:nth-child(3n):hover {
  transform: translateY(5px) translateX(3px) rotate(5deg);
}

.actionIcon:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .actionIcon {
    margin-right: -15px;
  }
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* backdrop-filter: blur(10px); */
}

.navbarPaper {
  /* margin-top: 1rem; */
}
